absl-py==0.8.1
alabaster==0.7.12
anytree==2.7.2
apipkg==1.5
appdirs==1.4.3
asn1crypto==1.2.0
astor==0.8.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.3.0
autocorrect==0.3.0
av==6.2.0
Babel==2.7.0
backcall==0.1.0
backports.csv==1.0.7
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
bleach==3.1.0
boto==2.49.0
boto3==1.9.253
botocore==1.12.253
Brlapi==0.7.0
bsddb3==6.2.6
btrfsutil==1.1.1
CacheControl==0.12.5
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2019.6.16
cffi==1.13.0
chardet==3.0.4
cheroot==6.5.5
CherryPy==18.1.2
cloudpickle==1.2.2
colorama==0.4.1
cryptography==2.7
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
distlib==0.2.9
distro==1.4.0
docutils==0.14
dryscrape==1.0
entrypoints==0.3
fail2ban==0.10.4
feedparser==5.2.1
fonttools==4.0.2
future==0.17.1
gensim==3.8.1
gmpy2==2.1.0b1
google-pasta==0.1.7
grpcio==1.22.0
h5py==2.9.0
html5lib==1.0.1
idna==2.8
imageio==2.6.1
imagesize==1.1.0
importlib-metadata==0.23
iniconfig==1.0.0
iotop==0.6
ipykernel==5.1.3
ipython==7.6.0
ipython-genutils==0.2.0
ipywidgets==7.5.0
isc==2.0
isort==4.3.21
jaraco.functools==2.0
jedi==0.14.0
jieba==0.39
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
kaggle==1.5.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lensfun==0.3.2
lit==0.9.0.dev0
lockfile==0.12.2
louis==3.11.0
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
meld==3.20.1
meson==0.52.0
mistune==0.8.4
more-itertools==7.2.0
Morfessor==2.0.6
mpmath==1.1.0
msgpack==0.6.2
mysqlclient==1.4.2.post1
namcap==3.2.7
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.5
notebook==6.0.1
ntlm-auth==1.2.0
numpy==1.17.3
packaging==19.2
pandas==0.25.2
pandocfilters==1.4.2
parso==0.5.1
pdfminer.six==20181108
pep517==0.6.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.0.0
pluggy==0.13.0
ply==3.11
polyglot==16.7.4
portend==2.5
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.9.0
psutil==5.6.3
psycopg2==2.8.4
ptyprocess==0.6.0
pwquality==1.4.1
py==1.8.0
pyalpm==0.9.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
pybind11==2.4.3
pycairo==1.18.2
pycld2==0.41
pycodestyle==2.5.0
pycparser==2.19
pycryptodome==3.8.2
pycuda==2019.1.2
pycups==1.9.74
pycurl==7.43.0.3
pyelftools==0.25
pyflakes==2.1.1
Pygments==2.4.2
PyGObject==3.34.0
PyICU==2.3.1
pyinotify==0.9.6
pylint==2.3.1
pymongo==3.9.0
PyOpenGL==3.1.0
pyparsing==2.4.4
PyQt5==5.13.2
PyQt5-sip==4.19.19
pyquery==1.4.1
pyrsistent==0.15.5
pytest==5.2.1
python-dateutil==2.8.1
python-docx==0.8.10
python-igraph==0.7.1.post6
python-ldap==3.2.0
python-slugify==3.0.0
pytils==0.3
pytoml==0.1.21
pytools==2019.1.1
pytz==2019.3
PyWavelets==1.0.3
pywinpty==0.5.5
pyxdg==0.26
PyYAML==5.1.2
pyzmq==18.0.2
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
rados==2.0.0
ranger-fm==1.9.2
rbd==2.0.0
redis==3.3.11
requests==2.22.0
resrc==1.3
retrying==1.3.3
rgw==2.0.0
rope==0.14.0
s3transfer==0.2.1
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.3.1
scons==3.1.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
simplejson==3.16.1
sip==4.19.19
six==1.12.0
sklearn==0.0
smart-open==1.8.4
snowballstemmer==2.0.0
sortedcontainers==2.1.0
soupsieve==1.9.5
Sphinx==2.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.9
SSSDConfig==2.2.2
sympy==1.4
systemd-python==234
team==1.0
tempora==1.14.1
tensorboard==2.0.0
tensorboardX==1.2
tensorflow==2.3.1
tensorflow-estimator==2.0.0
tensorflow-serving-api==1.14.0rc0
tensorflow-serving-api-gpu==1.14.0rc0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.2
torch==1.1.0
torchvision==0.2.2.post3
tornado==6.0.3
tqdm==4.31.1
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.6
urwid==2.0.1
virtualenv==16.1.0
wcwidth==0.1.7
webencodings==0.5.1
webkit-server==1.0
Werkzeug==0.16.0
Whoosh==2.7.4
widgetsnbextension==3.5.0
wrapt==1.11.2
xvfbwrapper==0.2.9
zc.lockfile==1.4
zipp==0.6.0
